.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  outline: none;
  padding: 0 !important;
  background: #F8F8F8 !important;
  border-radius: 10px;
  z-index: 10000 !important;
  overflow: hidden;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 100000000000000000000000000000000000000000;
}

.ReactModal__Overlay {
  z-index: 1000000000000000000000000000000000000000000000000000000000000000 !important;
}

@media screen and (max-width: 630px) {
  .Modal {
    min-height: 800px !important;
    overflow: auto !important;
  }
}
